<div class="footer__issue">
    <p class="footer__issue__statement">"The customer is always right."</p>
    <p class="footer__issue__question text--italic">...right?</p>
    <p class="footer__issue__answer text--bold">Wrong.</p>
</div>
<div class="footer__intro">
    <p class="footer__intro__blogintro">A blog about a lot of ways <br>
        a customer is wrong. <br>
        And the reason books for Dummies exist.</p>
</div>
<div class="footer__navigation">
    <ul>
        <li><a routerLink="home">Latest article</a></li>
        <li><a routerLink="latest">Latest articles - Preview</a></li>
        <li><a routerLink="all">All articles</a></li>
    </ul>
</div>
<div class="footer__copyright">
    <p>Copyright © {{ copyrightYear }} Helpdeskian</p>
</div>