div {
    padding: 0px 10px;
}

div p {
    margin: 0px;
    text-align: center;
}

.footer__issue {
    margin: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.footer__copyright {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.text--bold {
    font-weight: 1000;
}

.text--italic {
    font-style: italic;
}