div {
    margin: auto;
    padding: 0 3em;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

li {
    list-style: none;
    margin: 2em;
}