/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: cornsilk;
    background: url(./assets/img/background-img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}